extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        |<h2> Imagine waking up without the stress of a daily commute,having the flexibility to create a work environment that suits you best, and finding a better balance between your personal and professional life..</h2>
