extends layout

block content
  .row.banner
    .col-12
      h1 BLOGPAGE
  
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
          p Blog
          
          .card.card-primary
            .card-block
              h2.card-title Travel
              p.card-text MALDIVES
              p.card-text The Maldives is the smallest country in Asia. Including the sea, the territory spans roughly 90,000 square kilometres (35,000 sq mi), with a land area of 298 square kilometres (115 sq mi). The Maldives is one of the world's most geographically dispersed sovereign states, and the smallest Muslim country by land area.
              p.card-text GOA
              p.card-text Goa is a state in western India with coastlines stretching along the Arabian Sea. Its long history as a Portuguese colony prior to 1961 is evident in its preserved 17th-century churches and the area’s tropical spice plantations.
              p.card-text many more...
               .card.card-primary.image-card
        .card-block
          h2.card-title Images
          .row
              .col-4
              img(src='https://static.independent.co.uk/2024/01/07/11/3-4-scaled.png', alt='Image 1', class='img-fluid')
              .col-4
              img(src='https://www.agoda.com/wp-content/uploads/2023/02/Goa-overview-things-to-do-in-goa.jpg', alt='Image 2', class='img-fluid')

          .card.card-primary
            .card-block
              h2.card-title contacts
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;9618327892
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;pranayrdy40@gmail.com
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;pranay
              | &nbsp;
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/location/review/new')
              | Add review
            h2.card-title Customer reviews
            
            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor K.Pranay,
                small.reviewTimestamp 22 July 2024
              .col-12
                p It was good  blogopage and lifestyle for stress relief

            .row.review
              .col-12.no-gutters.review-header
                span.rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                span.reviewAuthor K.varshitha,
                small.reviewTimestamp 30 February 2024
              .col-12
                p It was good for life style.
    
    .col-12.col-lg-3
      p.lead
        |<h4><p style="color: white;">

</h4>